<!-- Main Body Starts -->
<div class="p-4 mt-4 dashboard-cnt">
    <div class="mb-2">
        <div class="row mb-4">
            <div class="col-sm-6 loading_card">
                <div class="card">
                    <div class="card-header heading">
                        <div class="heading-cnt">
                            <img src="~/assets/img/Loading.png" class="img-fluid" width="30" height="30" alt="">
                            <h4 class="mb-0">LOADING</h4>
                        </div>
                        <div class="heading-right">
                            <span class="mb-0">No of Trips - <span>05</span></span>
                            <img src="~/assets/img/trips.png" class="img-fluid" alt="trips" width="30" height="30" />
                        </div>
                    </div>
                    <div class="card-body loading-card-body">
                        <div class="bin">
                            <div class="data">
                                <div class="bin-label">
                                    <img src="~/assets/img/bin2.png" alt="bin" class="img-fluid" width="20" height="20">
                                    <label>Bin</label>
                                </div>
                                <h3 class="mb-0">100</h3>
                            </div>
                        </div>
                        <div class="trolley">
                            <div class="data">
                                <div class="trolley-label">
                                    <img src="~/assets/img/trolley.png" alt="bin" class="img-fluid" width="30" height="30">
                                    <label>Trolley</label>
                                </div>
                                <h3 class="mb-0">150</h3>
                            </div>
                        </div>
                        <div class="cart">
                            <div class="data">
                                <div class="cart-label">
                                    <img src="~/assets/img/cart.png" alt="bin" class="img-fluid" width="30" height="30">
                                    <label>Cart</label>
                                </div>
                                <h3 class="mb-0">200</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 loading_card">
                <div class="card">
                    <div class="card-header heading">
                        <div class="heading-cnt">
                            <img src="~/assets/img/unloading.png" class="img-fluid" width="30" height="30" alt="">
                            <h4 class="mb-0">UNLOADING</h4>
                        </div>
                        <div class="heading-right">
                            <span class="mb-0">No of Trips - <span>07</span></span>
                            <img src="~/assets/img/trips.png" class="img-fluid" alt="trips" width="30" height="30">
                        </div>
                    </div>
                    <div class="card-body loading-card-body">
                        <div class="bin">
                            <div class="data">
                                <div class="bin-label">
                                    <img src="~/assets/img/bin2.png" alt="bin" class="img-fluid" width="20" height="20">
                                    <label>Bin</label>
                                </div>
                                <h3 class="mb-0">123</h3>
                            </div>
                        </div>
                        <div class="trolley">
                            <div class="data">
                                <div class="trolley-label">
                                    <img src="~/assets/img/trolley.png" alt="bin" class="img-fluid" width="30" height="30">
                                    <label>Trolley</label>
                                </div>
                                <h3 class="mb-0">185</h3>
                            </div>
                        </div>
                        <div class="cart">
                            <div class="data">
                                <div class="cart-label">
                                    <img src="~/assets/img/cart.png" alt="bin" class="img-fluid" width="30" height="30">
                                    <label>Cart</label>
                                </div>
                                <h3 class="mb-0">248</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cs mt-4">
            <div class="col-sm-4 csibin">
                <div class="card">
                    <div class="card-body">
                        <p>Current Stock in <br> BIN</p>
                        <span>120</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 csibin">
                <div class="card">
                    <div class="card-body">
                        <p>Current Stock in <br> TROLLY</p>
                        <span>185</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 csibin">
                <div class="card">
                    <div class="card-body">
                        <p>Current Stock in <br> CART</p>
                        <span>254</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->