################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SakthiAutomotive
/bin
/obj/Debug
/packages
/Log
/Reports
/.vs/BinTracking/config
/.vs/BinTracking/v16
/obj/Release
