
@{
    ViewBag.Title = "RptInventory";
}
<!-- Main Body Starts -->
<div class="p-4 mt-4">
    <div class="mb-2">
        <div class="widget-content widget-content-area br-6 date-table-container">
            <div class="filter-section mb-4">
                <h4 class="table-header" style="color: var(--primary-color);">Inventory Report</h4>
            </div>

            <div class="report-filters mb-5">
                <div class="row mt-3 mb-4" style="display: flex;align-items: center;">
                    <div class="col-sm-4 searchformfld">
                        <label>From</label>
                        <input type="date" class="form-control" placeholder=" ">
                    </div>

                    <div class="col-sm-4 searchformfld">
                        <label>To</label>
                        <input type="date" class="form-control" placeholder=" ">
                    </div>

                    <div class="col-sm-4 searchformfld">
                        <label>Download Format</label>
                        <select class="form-control form-select EMS-select">
                            <option>Excel</option>
                            <option>PDF</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-4" style="display: flex;align-items: center;">

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6 reports-btns">
                        <button class="btn btn-primary">
                            <span>Save</span>
                            <i class="las la-save la-lg"></i>
                        </button>
                        <button class="btn btn-danger">
                            <span>Clear</span>
                            <i class="las la-eraser la-lg"></i>
                        </button>
                        <button class="btn btn-primary">
                            <span>Download</span>
                            <i class="las la-file-download la-lg"></i>
                        </button>
                    </div>

                    <div class="col-sm-3"></div>

                </div>
            </div>

            <div class="table-responsive mb-4">
                <table id="basic-dt" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 2%;">#</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Format</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>12-05-2025</td>
                            <td>15-05-2025</td>
                            <td>Excel</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10-05-2025</td>
                            <td>13-05-2025</td>
                            <td>PDF</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>07-05-2025</td>
                            <td>10-05-2025</td>
                            <td>Excel</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->