
@{
    ViewBag.Title = "PageAction";
}
<!-- Main Body Starts -->
<div class="p-4 mt-4">
    <div class="mb-2">
        <div class="widget-content widget-content-area date-table-container mb-4">
            <div class="filter-section mb-4">
                <h4 class="table-header" style="color: var(--primary-color);">Page Action</h4>
            </div>

            <div class="roles-rsp-choose row mt-4 mb-4">
                <div class="col-sm-6 filter-section row">
                    <div class="col-sm-6">
                        <select class="form-control form-select">
                            <option>Select Organization</option>
                            <option>Origin Technology Associates</option>
                            <option>Niraltek Solutions Pvt Ltd</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 select-option radio-button-select-option">
                    <div class="role-select">
                        <div class="custom-radio-1">

                            <label for="rdo-3" class="btn-radio">
                                <input type="radio" id="rdo-3" name="radio-grp" checked>
                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                    <circle cx="10" cy="10" r="9"></circle>
                                    <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                    <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                </svg>
                                <span>Roles</span>
                            </label>

                            <label for="rdo-4" class="btn-radio">
                                <input type="radio" id="rdo-4" name="radio-grp">
                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                    <circle cx="10" cy="10" r="9"></circle>
                                    <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                    <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                </svg>
                                <span>User</span>
                            </label>

                        </div>
                    </div>
                    <div class="select-option">
                        <select class="form-control form-select">
                            <option value="0">M Arun</option>
                            <option value="1">Prakash</option>
                            <option value="2">Vikram</option>
                            <option value="3">Nancy</option>
                            <option value="4">Mohammed Ihsaan Sadique</option>
                            <option value="5">Preetha</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-responsive mb-4">
                <table id="basic-dt" class="table table-hover" style="width:100%">
                    <thead>
                        <tr class="page-action-th">
                            <th style="width: 2%;">#</th>
                            <th>Menu</th>
                            <th>Page</th>
                            <th style="width: 10%;"> <input type="checkbox">Add</th>
                            <th style="width: 10%;"> <input type="checkbox">Edit</th>
                            <th style="width: 12%;"> <input type="checkbox">Delete</th>
                            <th style="width: 10%;"> <input type="checkbox">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="page-action-td">
                            <td>1</td>
                            <td>Masters</td>
                            <td>Organization</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Masters</td>
                            <td>Branch</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Masters</td>
                            <td>Employee</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Masters</td>
                            <td>Device</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>Masters</td>
                            <td>Gateway</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Masters</td>
                            <td>Group</td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>Settings</td>
                            <td></td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>Dashboard</td>
                            <td></td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->