
@{
    ViewBag.Title = "Products";
}
<!-- Main Body Starts -->
<div class="p-4 mt-4">
    <div class="mb-2">
        <div class="widget-content widget-content-area date-table-container">
            <div class="filter-section mb-4">
                <h4 class="table-header" style="color: var(--primary-color);">Product Master</h4>
                <button class="btn" data-bs-toggle="modal" data-bs-target=".product-modal" style="background: var(--primary-color);color: white;"><i class="las la-plus-circle la-lg"></i>Add</button>
            </div>

            <div class="filter-section row mb-4">
                <div class="col-sm-2">
                    <select class="form-control form-select">
                        <option value="0">Active</option>
                        <option value="1">Inactive</option>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="table-responsive mb-4">
                <table id="basic-dt" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Code</th>
                            <th>Product</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="assets/img/suspension.png" alt="" width="50" height="50"></td>
                            <td>OTA001</td>
                            <td>Product 1</td>
                            <td>254</td>
                            <td>Active</td>
                            <td>
                                <a href="#" title="Edit" class="font-20 mr-4" data-bs-toggle="modal" data-bs-target=".device-edit-modal"><i class="las la-edit" style="color: var(--primary-color);"></i></a>
                                <a href="#" title="Edit" class="font-20"><i class="las la-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="assets/img/disc.png" alt="" width="50" height="50"></td>
                            <td>OTA002</td>
                            <td>Product 2</td>
                            <td>301</td>
                            <td>Active</td>
                            <td>
                                <a href="#" title="Edit" class="font-20 mr-4" data-bs-toggle="modal" data-bs-target=".device-edit-modal"><i class="las la-edit" style="color: var(--primary-color);"></i></a>
                                <a href="#" title="Edit" class="font-20"><i class="las la-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="assets/img/battery.png" alt="" width="50" height="50"></td>
                            <td>OTA003</td>
                            <td>Product 3</td>
                            <td>211</td>
                            <td>Active</td>
                            <td>
                                <a href="#" title="Edit" class="font-20 mr-4" data-bs-toggle="modal" data-bs-target=".device-edit-modal"><i class="las la-edit" style="color: var(--primary-color);"></i></a>
                                <a href="#" title="Edit" class="font-20"><i class="las la-trash text-danger"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img src="assets/img/door.png" alt="" width="50" height="50"></td>
                            <td>OTA004</td>
                            <td>Product 4</td>
                            <td>521</td>
                            <td>Active</td>
                            <td>
                                <a href="#" title="Edit" class="font-20 mr-4" data-bs-toggle="modal" data-bs-target=".device-edit-modal"><i class="las la-edit" style="color: var(--primary-color);"></i></a>
                                <a href="#" title="Edit" class="font-20"><i class="las la-trash text-danger"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Main Body Ends -->
<!-- Modal Section -->

<div class="modal fade product-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="close border-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="las la-lg la-times text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="display: flex;align-items: center;">
                    <div class="col-sm-4 searchformfld">
                        <input type="text" class="form-control EMS-inputfields" placeholder=" " value="OTA001" disabled>
                        <label class="mb-0">Code</label>
                    </div>

                    <div class="col-sm-4 searchformfld">
                        <input type="text" class="form-control EMS-inputfields" placeholder=" ">
                        <label class="mb-0">Product</label>
                    </div>

                    <div class="col-sm-4 searchformfld">
                        <label> Status</label>
                        <select class="form-control form-select" id="ddlStatus">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div> 